body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    gap: 2em;
}

.container, .result {
    background: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	
}
.container h2{
		text-align:center;
	}
.container>form input{
    border: 2px solid #dfdfdf;
}

.container>form input,
button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.result {
    width: 40%;
    margin-top: 15px;
    font-weight: bold;
}
.result h3{
	text-align:center;
}

/* Remove number field spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}